/* .all-box{
    margin: auto;
} */

.body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.web{
    margin: 24px 0 24px 156px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.studio{
    margin: 24px 0 24px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header{
    background-color: #FFFFFF;
    width: 1440px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #E7E9FC;
}

.header-list{
    display: flex;
    flex-direction: row;
}

/* navigation */
.list-item-1,
.list-item-2,
.list-item-3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.list-item-1{
margin: 24px 0 24px 76px;
}
.list-item-2,
.list-item-3{
margin: 24px 0 24px 40px;
}


.email-head{
    margin: 24px 0 24px 332px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.phone-number{
    margin: 24px 0 24px 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.button-background{
    margin: 0;
    padding: 188px 0 0 0;
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
}

.button-order{
    width: 169px;
    height: 56px;
    margin: 0 636px 188px 636px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button-text{
    margin: 0 32px 16px 32px;
    padding-bottom: 16px;
    width: 105px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF; 
}

.main-banner{
    margin: 0 473px 0 473px;
    padding-bottom: 48px ;
    width: 494px;
    height: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.features-list,
.photos-list,
.team-list{
    display: flex;
    flex-direction: row;
}
